/* style.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #ffffff; /* Set text color to white */
  background-color: #100f0f; /* Netflix red background color */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the background image */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 20px;
  border-radius: 10px;
  margin: 20px; /* Add margin to create a light white margin */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Add box shadow for a subtle white border */
}

h1 {
  color: #e50914; /* Netflix red color */
}

/* Style for Netflix text */
.netflix-text {
  font-size: 24px;
  font-weight: bold;
  color: #e50914; /* Netflix red color */
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}

input {
  width: 80%;
  padding: 8px;
  margin-bottom: 20px;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent dark background for input */
  color: #fff; /* White text color */
  border: 1px solid #444; /* Darker grey border */
}

button {
  background-color: #e50914; /* Netflix red color */
  color: #121212;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #bf0813; /* Darker shade of red on hover */
}
